<template>
  <div class="ui container">
    <footer>
      <div class="footer__legal">
        <nuxt-link v-for="item in items" :key="item.id" :to="item.to" class="item">
          {{ item.title }}
        </nuxt-link>
      </div>
      <div class="footer__social">
        <a class="item">{{ $t('follow_us') }}</a>
        <a v-for="item in social" :key="item.id" :href="item.url" target="_blank" class="item">
          <i :class="['icon', item.id]" />
        </a>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'AppFooter',
  data() {
    return {
      items: [
        { id: 'terms', title: this.$t('terms_and_conditions'), to: '/terms' },
        { id: 'privacy', title: this.$t('privacy_policy'), to: '/privacy' },
        { id: 'contact', title: this.$t('contact_us'), to: '/contact' },
      ],
      social: [
        { id: 'facebook', url: 'https://www.facebook.com/people/Javier-Albadan/669593226' },
        { id: 'twitter', url: 'https://twitter.com/javieralbadan' },
      ],
    }
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  background-image: linear-gradient(to right, black 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  .footer {
    &__social {
      display: flex;
      flex-direction: row;
    }
  }
  .item {
    margin: 0 0.5rem;
    color: #666;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    .icon {
      font-size: 2rem;
      color: #444;
    }
  }
}

@media (max-width: $mobile-switch) {
  footer {
    flex-direction: column;
    padding: 1rem;
    .footer {
      &__social,
      &__legal {
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: $mobile-xs-switch) {
  footer {
    padding: 1rem 0rem;
    .item {
      font-size: 0.9rem;
      .icon {
        font-size: 1.6rem;
      }
    }
  }
}
</style>
