<template>
  <modal class="modal">
    <template slot="title">
      <h1>
        {{ $t('common_label_rule_of_thumb') }}
      </h1>
    </template>
    <template slot="title-content">
      <nav-items />
    </template>
  </modal>
</template>

<script>
import Modal from '~/components/utils/Modal.vue'
import NavItems from '~/components/layout/NavItems.vue'

export default {
  name: 'AppNavMobile',
  components: {
    Modal,
    NavItems,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.modal {
  min-width: 300px;
  .nav-items {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
}
</style>
