<template>
  <div :class="['wrap-nav', navReduce ? 'reduced' : null]">
    <nav class="ui container">
      <div class="item only-mobile" @click="openModalNav()">
        <i class="bars icon" />
      </div>
      <nuxt-link class="item" to="/">
        <h1 class="title">
          {{ $t('common_label_rule_of_thumb') }}
        </h1>
      </nuxt-link>
      <nav-items />
    </nav>
  </div>
</template>

<script>
import NavItems from '~/components/layout/NavItems.vue'

export default {
  name: 'AppNav',
  components: {
    NavItems,
  },
  data() {
    return {
      navReduce: '',
    }
  },
  mounted() {
    this.$nuxt.$on('changeNav', (isVisible) => {
      this.navReduce = !isVisible ? false : true
    })
  },
  methods: {
    openModalNav() {
      const { dispatch } = this.$store
      const resource = 'modalNav'
      const payload = true
      dispatch('toggleModal', { resource, payload })
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/components/nav.scss';
</style>
