<template>
  <div class="nav-items">
    <nuxt-link to="/past-trials" class="item only-desktop">
      {{ $t('past_trials') }}
    </nuxt-link>
    <nuxt-link to="/how-it-works" class="item only-desktop">
      {{ $t('how_it_works') }}
    </nuxt-link>
    <nuxt-link to="/login" class="item only-desktop">
      {{ $t('log_in_sign_up') }}
    </nuxt-link>
    <a class="item">
      <i class="search icon" />
    </a>
  </div>
</template>

<script>
export default {
  name: 'NavItems',
}
</script>

<style scoped="true" lang="scss"></style>
