@import url('https://fonts.googleapis.com/css2?family=Lato:100,300,400,700&display=swap');

* {
  font-family: 'Lato', Helvetica, Arial;
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
