@import '~assets/scss/core/variables.scss';

* {
  box-sizing: border-box;
}
.back-drop {
  display: none;
  z-index: $z-backdrop;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  &.active {
    display: block;
  }
}
.border-template {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 20px;
  background: #555;
  transition: all 0.5s;
  &:hover {
    width: 2px;
    background: #000;
    cursor: pointer;
  }
}
.close.icon {
  transform: rotate(45deg) translate(5px, -15px);
  &::before {
    @extend .border-template;
  }
  &::after {
    @extend .border-template;
    transform: rotate(90deg);
  }
}
