/* Fuente */
.center-ever {
  text-align: center;
}
.left-ever {
  text-align: left;
}
.f-light {
  font-weight: 100;
}
.f-bold {
  font-weight: bold;
}
.t-capitalize::first-letter {
  text-transform: capitalize;
}
.t-lower {
  text-transform: lowercase;
}
