// Colors
$vote-main-up: #2dbbb4;
$vote-main-down: #fdc341;
$vote-up: #158580;
$vote-up-rgb: rgb(21, 133, 128);
$vote-down: #cf942f;
$vote-down-rgb: rgb(207, 148, 47);
$vote-opacity: 0.5;
// Sizes
$nav-height: 120px;
$nav-reduced-height: 70px;
$closing-height: 40px;
$result-height: 40px;
$main-card-buttons-height: 80px;
// Breakpoints
$laptop-sm-switch: 1100px;
$mobile-switch: 767px;
$mobile-xs-switch: 370px;
$height-switch: 760px;
// Elevations
$z-modal: 100;
$z-backdrop: 99;
$z-nav: 10;
$z-background: -1;
