.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: transparent;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  &--black {
    border: 2px solid #000;
    color: #000;
    &:not(.disabled):hover {
      background: #000;
      color: #fff;
    }
  }
  &--white {
    border: 2px solid #fff;
    color: #fff;
    &:not(.disabled):hover {
      background: #fff;
      color: #000;
    }
  }
  &--up {
    border: 2px solid $vote-up;
    background-color: $vote-up;
    color: #fff;
    &:not(.disabled):hover {
      border-color: #fff;
    }
  }
  &--down {
    border: 2px solid $vote-down;
    background-color: $vote-down;
    color: #fff;
    &:not(.disabled):hover {
      border-color: #fff;
    }
  }
  &--thin {
    border-width: 1px;
  }
  &--fluid {
    width: 100%;
  }
  &--small {
    min-width: 32px;
    height: 32px;
    padding: 0.5rem 1rem;
  }
  &--icon {
    padding: 0;
  }
  &.selected {
    border-color: #fff;
  }
  &.disabled {
    opacity: 0.5;
  }
}
