@import '~assets/scss/core/variables.scss';

.main-card {
  position: relative;
  display: grid;
  grid-template: auto #{$main-card-buttons-height} / 100%;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  color: #fff;
  background: rgba(0, 0, 0, $vote-opacity);
  &__content {
    padding: 3rem;
    text-align: left;
    backdrop-filter: blur(20px) brightness(1.5);
    cursor: default;
  }
  &__subtitle {
    font-size: 1.1rem;
  }
  &__title {
    font-size: 3rem;
  }
  &__description {
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 100;
  }
  &__more-info {
    font-size: 1.1rem;
  }
  &__lead {
    margin-top: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  a {
    color: #f1f1f1;
    text-decoration: underline;
    transition: all 0.5s;
    &:hover {
      color: rgba(255, 180, 50, 0.7);
    }
  }
}

.vote-card {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  color: #fff;
  &__background {
    z-index: $z-background;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
    margin-bottom: $result-height;
    padding: 0 80px 40px 40px;
    background: linear-gradient(
      to top,
      rgba(40, 40, 40, 0.8) 30%,
      rgba(40, 40, 40, 0.5) 60%,
      rgba(40, 40, 40, 0.2) 80%,
      rgba(40, 40, 40, 0) 100%
    );
    text-align: left;
    cursor: default;
  }
  &__title {
    position: relative;
    margin: 0;
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  &__time {
    font-size: 1rem;
  }
  &__description {
    height: 3rem;
    margin: 1rem 0 1.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
  }
  &__results {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $result-height;
  }
}

@media (max-width: $laptop-sm-switch) {
  .main-card {
    height: 85%;
    background: none;
    grid-template: calc(100% - #{$main-card-buttons-height}) 70px / 100%;
    &__content {
      padding: 1rem;
      backdrop-filter: none;
      background: linear-gradient(
        to top,
        rgba(40, 40, 40, 0.8) 30%,
        rgba(40, 40, 40, 0.5) 60%,
        rgba(40, 40, 40, 0.2) 80%,
        rgba(40, 40, 40, 0) 100%
      );
    }
    &__subtitle {
      font-size: 1rem;
    }
    &__title {
      margin: 1rem 0;
      font-size: 2.5rem;
    }
    &__description {
      max-height: 130px;
      overflow: hidden;
      margin: 1rem 0;
      font-size: 1.4rem;
    }
    &__more-info {
      font-size: 1rem;
    }
    &__lead {
      margin-top: 2rem;
      font-size: 1.4rem;
    }
  }

  .vote-card {
    height: 500px;
    &__content {
      padding: 0 80px 40px 40px;
    }
    &__title {
      margin: 0;
      font-size: 2.5rem;
      line-height: 2.8rem;
    }
    &__time {
      font-size: 1rem;
    }
    &__description {
      height: 3rem;
      margin: 1rem 0 1.5rem 0;
      font-size: 1.1rem;
    }
  }
}

@media (max-width: $mobile-switch) {
  .main-card {
    height: 100%;
  }
}

@media (max-height: $height-switch) {
  .main-card {
    &__content {
      padding: 1.2rem;
    }
    &__subtitle {
      font-size: 1.1rem;
    }
    &__title {
      font-size: 2.8rem;
    }
    &__description {
      margin: 1rem 0;
      font-size: 1.3rem;
    }
    &__more-info {
      font-size: 1.1rem;
    }
    &__lead {
      margin-top: 2rem;
      font-size: 1.3rem;
    }
  }
}
