@import '~assets/scss/core/variables.scss';

.wrap-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-nav;
  height: $nav-height;
  transition: all 0.5s;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 3rem 0;
    background-color: transparent;
    .nav-items {
      display: flex;
      flex-direction: row;
      .item {
        position: relative;
        margin: 0 1.5rem;
        font-size: 1.2rem;
        transition: all 0.5s;
        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 50%;
          width: 0;
          height: 2px;
          transform-origin: center center;
          background: #fff;
          transition: all 0.5s;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &:not(.only-mobile) {
          &:hover,
          &.active {
            cursor: pointer;
            &::after {
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
    .item {
      color: #fff;
    }
    .icon {
      font-size: 2rem;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-background;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.5) 30%,
      rgba(50, 50, 50, 0.25) 60%,
      rgba(50, 50, 50, 0) 80%
    );
  }
  &.reduced {
    height: $nav-reduced-height;
    &::before {
      background: rgba(50, 50, 50, 0.85);
    }
    nav {
      padding: 2.8rem 0;
      .nav-items {
        .item {
          &::after {
            bottom: 0;
          }
        }
      }
    }
  }
  .only-desktop {
    display: flex;
  }
  .only-mobile {
    display: none;
  }
}
@media (max-width: $mobile-switch) {
  .wrap-nav {
    nav {
      h1 {
        height: 3rem;
        line-height: 2.5rem;
      }
    }
    .only-desktop {
      display: none;
    }
    .only-mobile {
      display: flex;
    }
  }
}
