<template>
  <div :class="['vote-card__actions', main ? 'main' : null]">
    <button
      v-if="voted"
      type="button"
      class="vote-card__vote-again vivify fadeIn btn btn--small btn--thin btn--white"
      @click="voteAgain()"
    >
      Vote again
    </button>
    <div v-else class="vote-card__options vivify flipInX">
      <button
        type="button"
        :class="[
          'vote-card__option btn btn--small btn--icon btn--up',
          selection === DATABASE_KEYS.POSITIVE ? 'selected' : null,
        ]"
        @click="selection = DATABASE_KEYS.POSITIVE"
      >
        <i class="vivify thumbs up icon fitted" />
      </button>
      <button
        type="button"
        :class="[
          'vote-card__option btn btn--small btn--icon btn--down',
          selection === DATABASE_KEYS.NEGATIVE ? 'selected' : null,
        ]"
        @click="selection = DATABASE_KEYS.NEGATIVE"
      >
        <i class="vivify thumbs down icon fitted" />
      </button>
      <button
        v-if="!main"
        type="button"
        :class="['vote-card__vote-now btn btn--small btn--thin btn--white', !selection ? 'disabled' : null]"
        :disabled="!selection"
        @click="voteNow()"
      >
        Vote now
      </button>
    </div>
  </div>
</template>

<script>
import { DATABASE_KEYS } from '~/plugins/constants/database-keys'

export default {
  name: 'CardActions',
  props: {
    main: {
      type: Boolean,
      defautl: false,
    },
    voted: {
      type: Boolean,
      defautl: false,
    },
  },
  data() {
    return {
      DATABASE_KEYS,
      selection: undefined,
    }
  },
  methods: {
    voteNow() {
      if (this.selection) {
        this.$emit('vote', this.selection)
        this.selection = ''
      }
    },
    voteAgain() {
      this.$emit('vote-again')
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.vote-card {
  &__voted {
    display: flex;
    align-items: center;
    height: 32px;
  }
  &__actions:not(.main) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .vote-card {
      &__option {
        filter: saturate(1.5);
      }
    }
    .btn--down {
      margin-left: 0.25rem;
      margin-right: 0.5rem;
    }
  }
  &__actions.main {
    .vote-card {
      &__options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
      }
      &__option {
        width: 50%;
        height: 100%;
        padding: 1rem;
        border: none;
        text-align: center;
        font-size: 2.5rem;
        color: #fff;
        filter: saturate(2.5);
      }
    }
    .btn {
      &--up {
        &:hover {
          .icon {
            animation: hitLeft 1s forwards;
          }
        }
        background-color: rgba($vote-main-up, 0.6);
      }
      &--down {
        &:hover {
          .icon {
            animation: hitLeft 1s forwards;
          }
        }
        background-color: rgba($vote-main-down, 0.6);
        transform: rotateY(180deg);
      }
    }
  }
}
</style>
