<template>
  <div class="result">
    <div class="result__portion result__portion--positive" :style="`width: ${positiveAverage}%;`">
      <i :class="['thumbs up icon vivify', positiveAnimation]" />
      <div :class="['vivify', positiveAnimation]">
        {{ positiveAverage | percentage }}
      </div>
    </div>
    <div class="result__portion result__portion--negative" :style="`width: ${negativeAverage}%;`">
      <div :class="['vivify', negativeAnimation]">
        {{ negativeAverage | percentage }}
      </div>
      <i :class="['thumbs down icon vivify', negativeAnimation]" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardResultsBar',
  filters: {
    percentage(value) {
      return `${Math.round(value)}%`
    },
  },
  props: {
    votes: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    votesUp() {
      return this.votes ? this.votes.positive : 0
    },
    votesDown() {
      return this.votes ? this.votes.negative : 0
    },
    totalVotes() {
      return this.votesDown + this.votesUp
    },
    positiveAverage() {
      return this.votes ? Math.round((this.votesUp * 100) / this.totalVotes) : 0
    },
    negativeAverage() {
      return this.votes ? 100 - this.positiveAverage : 0
    },
  },
  data() {
    return {
      positiveAnimation: '',
      negativeAnimation: '',
    }
  },
  methods: {
    loadAnimation(option, animation) {
      this[option] = animation
      setTimeout(() => (this[option] = ''), 500)
    },
  },
  watch: {
    positiveAverage(newVal, oldVal) {
      if (newVal > oldVal) {
        this.loadAnimation('positiveAnimation', 'swoopInBottom')
      } else {
        this.loadAnimation('positiveAnimation', 'swoopInTop')
      }
    },
    negativeAverage(newVal, oldVal) {
      if (newVal > oldVal) {
        this.loadAnimation('negativeAnimation', 'swoopInBottom')
      } else {
        this.loadAnimation('negativeAnimation', 'swoopInTop')
      }
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &__portion {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.8rem;
    font-size: 1.6rem;
    color: #fff;
    transition: all 0.5s;
    filter: saturate(1.5);
    &--positive {
      justify-content: flex-start;
      background: rgba($vote-up-rgb, 0.8);
      .icon {
        margin: 0 0.3rem 0 0;
        font-size: 1.4rem;
      }
    }
    &--negative {
      justify-content: flex-end;
      background: rgba($vote-down-rgb, 0.8);
      .icon {
        margin: 0 0 0 0.3rem;
        font-size: 1.4rem;
      }
    }
  }
}
</style>
