<template>
  <label :class="['vote-card__label', `vote-card__label${positive ? '--up' : '--down'}`]">
    <i :class="[`thumbs ${positive ? 'up' : 'down'} icon fitted`]" />
  </label>
</template>

<script>
export default {
  name: 'CardFloatLabel',
  props: {
    positive: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.vote-card {
  &__label {
    position: absolute;
    bottom: 210px;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-bottom: 0.2rem;
    padding: 0;
    color: #fff;
    &--up {
      border: 2px solid $vote-up;
      background-color: $vote-up;
    }
    &--down {
      border: 2px solid $vote-down;
      background-color: $vote-down;
    }
  }
}
</style>
