<template>
  <article class="main-card">
    <div class="main-card__content">
      <div class="main-card__subtitle">
        {{ $t('main_block_title') }}
      </div>
      <h2 class="main-card__title">
        Pope Francis?
      </h2>
      <p class="main-card__description">
        He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a
        true pedophile punishing pontiff? (thumbs up)
      </p>
      <p class="main-card__more-info">
        <i class="wikipedia w icon" />
        <a href="https://en.wikipedia.org/wiki/Pope_Francis" target="_blank">
          {{ $t('common_label_more_information') }}
        </a>
      </p>
      <div class="main-card__lead">
        {{ $t('whats_your_veredict') }}
      </div>
    </div>
    <card-actions :main="true" :voted="false" />
  </article>
</template>

<script>
import CardActions from '~/components/cards/CardActions.vue'

export default {
  name: 'MainBlockVote',
  components: {
    CardActions,
  },
  methods: {},
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/components/cards.scss';
</style>
