<template>
  <article class="vote-card">
    <progressive-background
      :src="item ? item.image : ''"
      :placeholder="item ? item.imagePlaceholder : ''"
      :blur="30"
      class="submit-block__background"
    />
    <card-float-label :positive="isPositive" />
    <div class="vote-card__content">
      <h3 class="vote-card__title">
        {{ item.name }}
      </h3>
      <div class="vote-card__time t-capitalize">
        <span class="f-bold">{{ timeAgo }}</span> in {{ item.industry }}
      </div>
      <p class="vote-card__description">
        {{ voted ? $t('thank_you_for_voting') : preview(item.description) }}
      </p>
      <card-actions :voted="voted" @vote="generateVote" @vote-again="voteAgain()" />
    </div>
    <div class="vote-card__results">
      <card-results-bar :votes="item.votes" />
    </div>
  </article>
</template>

<script>
import { generateVote } from '~/usecases/votations-usecase'
import CardFloatLabel from '~/components/cards/CardFloatLabel.vue'
import CardActions from '~/components/cards/CardActions.vue'
import CardResultsBar from '~/components/cards/CardResultsBar.vue'
import moment from 'moment'

export default {
  name: 'VoteCard',
  components: {
    CardFloatLabel,
    CardActions,
    CardResultsBar,
  },
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      voted: false,
    }
  },
  computed: {
    timeAgo() {
      const creationDate = moment(this.item.date)
      return creationDate.fromNow()
    },
    isPositive() {
      const { votes } = this.item
      return votes.positive > votes.negative ? true : false
    },
  },
  methods: {
    preview(txt) {
      return txt.substring(0, 120)
    },
    async generateVote(selection) {
      const { error, response } = await generateVote(this.item, selection)
      if (!error && response) {
        this.voted = true
      }
    },
    voteAgain() {
      this.voted = false
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/components/cards.scss';
</style>
