<template>
  <div class="closing">
    <div class="closing__title" :style="`width: ${100 - daysWidth}%;`">
      {{ $t('closing_in') }}
    </div>
    <div class="closing__days" :style="`width: ${daysWidth}%;`">
      <span class="value">{{ timeTo(0) }}</span>
      <span class="t-lower">{{ timeTo(1) }}</span>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ClosingBar',
  data() {
    return {
      maxDaysWidthPercentage: 90,
      maxsDays: 31,
      dueDate: '2020-05-28',
    }
  },
  computed: {
    daysWidth() {
      const daysTo = this.timeTo(0)
      const percentageToClose = (daysTo * 100) / this.maxsDays
      return (percentageToClose * this.maxDaysWidthPercentage) / 100
    },
  },
  methods: {
    timeTo(part) {
      const dueDate = moment(this.dueDate)
      const result = moment().to(dueDate, true)
      return result.split(' ')[part]
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.closing {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 200px;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 10px solid rgba(0, 0, 0, 0.4);
    }
  }
  &__days {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    height: 100%;
    padding: 0.5rem 1rem;
    background: rgba(240, 240, 240, 0.9);
    font-size: 2.2rem;
    font-weight: 100;
    color: #555;
    .value {
      font-weight: bold;
      margin: 0 0.5rem;
    }
  }
}
@media (max-width: $mobile-switch) {
  .closing {
    &__title {
      min-width: 100px;
      padding: 0.5rem;
    }
    &__days {
      min-width: 100px;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }
}
@media (max-width: $mobile-xs-switch) {
  .closing {
    &__days {
      font-size: 1.6rem;
      letter-spacing: -1px;
    }
  }
}
</style>
