<template>
  <header :class="['header-home', !mainBlock ? 'reduced' : null]">
    <progressive-background
      :src="finalUrl('papa-francisco.jpg')"
      :placeholder="finalUrl('papa-francisco-x.jpg')"
      :blur="30"
      class="header-home__background"
    />
    <div v-if="mainBlock" class="header-home__wrap-block">
      <div class="ui container">
        <main-card class="header-home__main-card" />
      </div>
    </div>
    <div class="header-home__wrap-closing">
      <closing-bar />
    </div>
  </header>
</template>

<script>
import MainCard from '~/components/cards/MainCard.vue'
import ClosingBar from '~/components/elements/ClosingBar.vue'

export default {
  name: 'HeaderHome',
  components: {
    MainCard,
    ClosingBar,
  },
  props: {
    mainBlock: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    finalUrl(image) {
      return require(`~/assets/imgs/${image}`)
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.header-home {
  position: relative;
  height: 90vh;
  &__background {
    z-index: $z-background;
  }
  &__wrap-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: calc(#{$nav-height} / 2);
    padding-bottom: $closing-height;
    .ui.container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
    }
  }
  &__main-card {
    width: 50%;
  }
  &__wrap-closing {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.reduced {
    height: 50vh;
  }
}

@media (max-width: $laptop-sm-switch) {
  .header-home {
    &__wrap-block {
      .ui.container {
        align-items: flex-end;
        width: 100%;
        margin: 0;
      }
    }
    &__main-card {
      width: 100%;
    }
  }
}

@media (max-width: $mobile-switch) {
  .header-home {
    &__wrap-block {
      padding-top: $nav-height;
      .ui.container {
        margin: 0 !important;
      }
    }
    &.reduced {
      height: 40vh;
    }
  }
}
</style>
