<template>
  <div :class="['info-block', classOut ? 'vivify fadeOut' : null]">
    <div class="info-block__title">
      {{ $t('info_block_title') }}
      <div class="info-block__title--highlight">
        {{ $t('info_block_text_bold') }}
      </div>
    </div>
    <div class="info-block__text">
      <p>{{ $t('info_block_text') }}</p>
    </div>
    <div class="info-block__close" @click="close()">
      <div class="close icon" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfoBlock',
  data() {
    return {
      classOut: false,
    }
  },
  methods: {
    close() {
      this.classOut = true
      setTimeout(() => this.$emit('close'), 1000)
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.info-block {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 2rem 0;
  padding: 1rem;
  background: #ebebeb;
  color: #000;
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: -1px;
    &--highlight {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 2.2rem;
      letter-spacing: 2px;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(75% - 40px);
    font-size: 1rem;
  }
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
  }
}
@media (max-width: $laptop-sm-switch) {
  .info-block {
    &__title {
      width: 30%;
    }
    &__text {
      width: calc(70% - 40px);
    }
  }
}
@media (max-width: $mobile-switch) {
  .info-block {
    position: relative;
    flex-direction: column;
    height: auto;
    padding-top: 2.5rem;
    &__title {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 0.3rem;
      font-size: 1.4rem;
      line-height: 1.4rem;
      text-align: center;
      &--highlight {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 1px;
      }
    }
    &__text {
      width: 100%;
      text-align: center;
    }
    &__close {
      position: absolute;
      top: 1.2rem;
      right: 0.5rem;
    }
  }
}
@media (max-width: $mobile-xs-switch) {
  .info-block {
    &__title {
      font-size: 1.2rem;
      line-height: 1.2rem;
      &--highlight {
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: 1px;
      }
    }
  }
}
</style>
