<template>
  <div class="wrap-loading">
    <i class="spinner loading huge icon" />
  </div>
</template>

<script>
export default {
  name: 'Loading',
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.wrap-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 6rem auto;
  padding: 1rem;
  color: #222;
}
@media (max-width: $mobile-switch) {
}
</style>
