<template>
  <div class="wrap-modal">
    <div class="modal vivify unfold">
      <div class="modal__close" @click="closeModal()">
        <div class="close icon" />
      </div>
      <div class="modal__title">
        <slot name="title"></slot>
      </div>
      <div class="modal__content">
        <slot name="title-content"></slot>
      </div>
      <div class="modal__action">
        <slot name="action"></slot>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Loading',
  computed: {
    ...mapGetters({
      modalNav: 'modalNav',
    }),
  },
  methods: {
    closeModal() {
      const { dispatch } = this.$store
      const resource = 'modalNav'
      const payload = false
      dispatch('toggleModal', { resource, payload })
    },
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.wrap-modal {
  position: absolute;
  z-index: $z-modal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem 2rem;
    background: #fff;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1), 0px 16px 24px rgba(0, 0, 0, 0.15), 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    color: #222;
    &__close {
      position: absolute;
      top: 1.5rem;
      right: 0.5rem;
      width: 50px;
    }
  }
}
@media (max-width: $mobile-switch) {
}
</style>
