<template>
  <div class="submit-block">
    <progressive-background
      :src="finalUrl('people.jpg')"
      :placeholder="finalUrl('people-x.jpg')"
      :blur="30"
      class="submit-block__background"
    />
    <div class="submit-block__content">
      <div class="submit-block__title">
        {{ $t('submit_block_title') }}
      </div>
      <div class="submit-block__button">
        <button type="button" class="btn btn--fluid btn--black" @click="openFormSubmit()">
          {{ $t('submit_block_button') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SubmitBlock',
  methods: {
    finalUrl(image) {
      return require(`~/assets/imgs/${image}`)
    },
    openFormSubmit() {},
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

.submit-block {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 2rem 0;
  overflow: hidden;
  &__background {
    z-index: $z-background;
    opacity: 0.3;
  }
  &__content {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 200px);
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 1px;
    color: #333;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media (max-width: $mobile-switch) {
  .submit-block {
    height: 120px;
    &__content {
      flex-direction: column;
    }
    &__title {
      width: 100%;
      font-size: 1.4rem;
      line-height: 1.4rem;
      justify-content: center;
      text-align: center;
    }
    &__button {
      width: 80%;
      margin: 0.5rem auto;
      text-align: center;
    }
  }
}
</style>
