<template>
  <div class="rule-of-thumb">
    <app-nav />
    <nuxt />
    <app-footer />
    <app-nav-mobile v-show="modalNav" />
    <div :class="['back-drop', backDrop ? 'active' : null]" @click="closeModal()" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppNav from '~/components/layout/AppNav.vue'
import AppNavMobile from '~/components/layout/AppNavMobile.vue'
import AppFooter from '~/components/layout/AppFooter.vue'

export default {
  name: 'DefaultLayout',
  components: {
    AppNav,
    AppNavMobile,
    AppFooter,
  },
  data() {
    return {
      classNav: '',
    }
  },
  computed: {
    ...mapGetters({
      modalNav: 'modalNav',
    }),
    backDrop() {
      return this.modalNav
    },
  },
  methods: {
    closeModal() {
      const { dispatch } = this.$store
      const resource = 'modalNav'
      const payload = false
      dispatch('toggleModal', { resource, payload })
    },
  },
}
</script>

<style lang="scss">
body {
  background-color: #fff;
}
</style>
