<template>
  <div class="home">
    <header-home />
    <main class="ui container">
      <info-block v-if="showInfoBlock" @close="showInfoBlock = false" />
      <h2>{{ $t('common_label_votes') }}</h2>
      <loading v-if="loading" />
      <div v-else class="wrap-cards" v-observe-visibility="changeNav">
        <vote-card v-for="item in persons" :key="item.id" :item="item" />
      </div>
      <submit-block />
    </main>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HeaderHome from '~/components/elements/HeaderHome.vue'
import VoteCard from '~/components/cards/VoteCard.vue'
import InfoBlock from '~/components/utils/InfoBlock.vue'
import SubmitBlock from '~/components/utils/SubmitBlock.vue'
import Loading from '~/components/utils/Loading.vue'

export default {
  name: 'Index',
  components: {
    HeaderHome,
    InfoBlock,
    VoteCard,
    SubmitBlock,
    Loading,
  },
  data() {
    return {
      showInfoBlock: true,
    }
  },
  computed: {
    ...mapGetters({
      persons: 'persons',
    }),
    loading() {
      return this.persons && this.persons instanceof Object ? false : true
    },
  },
  methods: {
    changeNav(isVisible) {
      this.$nuxt.$emit('changeNav', isVisible)
    },
  },
  head() {
    return {
      title: this.$t('common_label_rule_of_thumb'),
    }
  },
}
</script>

<style scoped="true" lang="scss">
@import '~assets/scss/core/variables.scss';

h2 {
  margin: 3rem 0;
  font-size: 2rem;
}
.wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 3rem;
  row-gap: 3rem;
  margin: 2rem 0;
}
@media (max-width: $mobile-switch) {
  .wrap-cards {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
</style>
