<template>
  <div class="home">
    <header-home :main-block="false" />
    <main class="ui container">
      <info-block v-if="showInfoBlock" @close="showInfoBlock = false" />
      <h2>{{ $t('log_in_sign_up') }}</h2>
      <submit-block />
    </main>
  </div>
</template>

<script>
import HeaderHome from '~/components/elements/HeaderHome.vue'
import InfoBlock from '~/components/utils/InfoBlock.vue'
import SubmitBlock from '~/components/utils/SubmitBlock.vue'

export default {
  name: 'Index',
  components: {
    HeaderHome,
    InfoBlock,
    SubmitBlock,
  },
  data() {
    return {
      showInfoBlock: true,
    }
  },
  head() {
    return {
      title: this.$t('log_in_sign_up'),
    }
  },
}
</script>

<style scoped="true" lang="scss">
h2 {
  margin: 3rem 0;
  font-size: 2rem;
}
</style>
